In [130]:
import pandas as pd
citibike_df = pd.read_csv('data/citibike-tripdata.csv')
display(citibike_df.head())

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [131]:
# количество пропусков в столбце 'start station id'
citibike_df['start station id'].info()
print(300_000 - 299_831)

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
169

In [132]:
# тип данных столбцов 'starttime' 'stoptime'
citibike_df['starttime'].info()
citibike_df['stoptime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

In [133]:
print(citibike_df['start station id'].mode()[0])

281.0

In [134]:
print(citibike_df['bikeid'].mode()[0])

33887

In [135]:
citibike_df['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [136]:
citibike_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [137]:
print(citibike_df['start station name'].count() == citibike_df['end station name'].count())

True

In [138]:
citibike_df['starttime'] = pd.to_datetime(citibike_df['starttime'])
citibike_df['age'] = citibike_df['starttime'].dt.year - citibike_df['birth year']

display(citibike_df['age'].min())

16

In [139]:
citibike_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [140]:
citibike_df['end station name'].value_counts()

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

In [141]:
citibike_df.describe()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender,age
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647,38.635197
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398,11.920796
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000,16.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000,29.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000,36.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000,49.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000,133.000000

In [142]:
citibike_df.describe(include=['object'])

,stoptime,start station name,end station name,usertype
count,300000,299831,299831,300000
unique,299813,759,765,2
top,2018-09-04 17:51:07.9110,Grand Army Plaza & Central Park S,West St & Chambers St,Subscriber
freq,2,1928,1963,232202

In [143]:
citibike_df.drop(['start station id', 'end station id', 'birth year'], axis=1, inplace=True)
citibike_df[citibike_df['age'] > 60].count()[0]

11837

In [144]:
print(citibike_df['starttime'].count() == citibike_df['stoptime'].count())

True

In [145]:
citibike_df['stoptime'] = pd.to_datetime(citibike_df['stoptime'])
citibike_df['trip duration'] = citibike_df['stoptime'] - citibike_df['starttime']
citibike_df['trip duration'].dt.seconds.mean()

999.9145033333333

In [146]:
def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    return 0
citibike_df['weekend'] = citibike_df['starttime'].dt.dayofweek.apply(get_weekend)
display(citibike_df['weekend'].value_counts())

0    184865
1    115135
Name: weekend, dtype: int64

In [150]:
def get_time_of_day(hour):
    if hour <= 6 and hour >= 0:
        return 'night'
    if hour > 6 and hour <= 12:
        return 'morning'
    if hour > 12 and hour <= 18:
        return 'day'
    if hour > 18 and hour <= 23:
        return 'evening'

citibike_df['time_of_day'] =  citibike_df['starttime'].dt.hour.apply(get_time_of_day)
print(citibike_df[citibike_df['time_of_day'] == 'day'].count()[0]
      / 
      citibike_df[citibike_df['time_of_day'] == 'night'].count()[0])

9.480411004308916